.modal {
  position: fixed;
  top: 3vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(29, 29, 29, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  overflow: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
}

.content {
  overflow: hidden;
  /* overscroll-behavior-y: contain; */
}

/* 320px, 375, 425, 768, 1024, 1440, 2560 */

@media (min-width: 320px) {
  .modal {
    top: 5vh;
    width: 17rem;
    left: 1.5rem;
    height: 95%;
    padding-right: 1rem;
    align-items: center;
    /* overflow: hidden; */
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 375px) {
  .modal {
    top: 2vh;
    width: 20rem;
    left: 2rem;
  }
}

@media (min-width: 425px) {
  .modal {
    top: 2vh;
    width: 22rem;
    left: 2.5rem;
  }
}

@media (min-width: 768px) {
  .modal {
    top: 3vh;
    width: 23rem;
    left: 14rem;
  }
}

@media (min-width: 1024px) {
  .modal {
    top: 3vh;
    width: 23rem;
    left: 23rem;
  }
}

@media (min-width: 1440px) {
  .modal {
    top: 2.5vh;
    width: 23rem;
    left: 37rem;
  }
}

@media (min-width: 2560px) {
  .modal {
    top: 7vh;
    width: 40rem;
    left: 68rem;
    height: 85%;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
