.modal {
  position: fixed;
  top: 3vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(29, 29, 29, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  overflow: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
}

.content {
  overflow: hidden;
  /* overscroll-behavior-y: contain; */
}

/* 320px, 375, 425, 768, 1024, 1440, 2560 */

@media (min-width: 320px) {
  .modal {
    top: 2vh;
    width: 17rem;
    left: 1.5rem;
    height: 95%;
    padding-right: 1rem;
    align-items: center;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 375px) {
  .modal {
    top: 2vh;
    width: 20rem;
    left: 2rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 425px) {
  .modal {
    top: 2vh;
    width: 22rem;
    left: 2.5rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 450px) {
  .modal {
    top: 2vh;
    width: 22rem;
    left: 3.5rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 460px) {
  .modal {
    top: 2vh;
    width: 22rem;
    left: 3.8rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 480px) {
  .modal {
    top: 2vh;
    width: 22rem;
    left: 4.5rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 570px) {
  .modal {
    top: 2.5vh;
    width: 22rem;
    left: 7.4rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 640px) {
  .modal {
    top: 4vh;
    width: 22rem;
    left: 12rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 767px) {
  .modal {
    top: 3vh;
    width: 22rem;
    left: 14rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .modal {
    position: fixed;
    top: 5vh;
    width: 23rem;
    left: 14rem;
    height: 90%;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 850px) {
  .modal {
    top: 3vh;
    width: 22rem;
    left: 17rem;
    height: 95%;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 991px) {
  .modal {
    top: 3vh;
    width: 22rem;
    left: 20rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  .modal {
    top: 3vh;
    width: 23rem;
    left: 23rem;
    height: 95%;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 1280px) {
  .modal {
    top: 2vh;
    width: 22.9rem;
    left: 33rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 1300px) {
  .modal {
    top: 3vh;
    width: 24rem;
    left: 34rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .modal {
    top: 2.5vh;
    width: 24rem;
    left: 37rem;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 2560px) {
  .modal {
    top: 6vh;
    width: 40rem;
    left: 68rem;
    height: 89%;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
