@keyframes slideIn {
    from {
      transform: translateX(-20%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-20%);
      opacity: 0;
    }
  }
  
  .animateSlideIn {
    animation: slideIn 0.3s ease-in-out forwards;
  }
  
  .animateSlideOut {
    animation: slideOut 0.3s ease-in-out forwards;
  }
  