.modal {
  position: fixed;
  top: 3vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(29, 29, 29, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
  overflow: auto;
  overflow-x: hidden;
  overscroll-behavior-y: contain;
}

.content {
  overflow: hidden;
  /* overscroll-behavior-y: contain; */
}

@media (min-width: 768px) {
  .modal {
    top: 4vh;
    width: 40rem;
    left: 5rem;
    height: auto;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 850px) {
  .modal {
    top:3vh;
    width: 50rem;
    left: 1.9rem;
    height: auto;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 991px) {
  .modal {
    top: 3vh;
    width: 50rem;
    left: 7rem;
    height: auto;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 1024px) {
  .modal {
    top: 5vh;
    width: 45rem;
    left: 10rem;
    height: auto;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 1280px) {
  .modal {
    top: 3vh;
    width: 50rem;
    left: 17rem;
    height: auto;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 1300px) {
  .modal {
    top: 4vh;
    width: 55rem;
    left: 14rem;
    height: auto;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .modal {
    top: 8vh;
    width: 50rem;
    left: 20rem;
    height: auto;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@media (min-width: 2560px) {
  .modal {
    top: 20vh;
    width: 60rem;
    left: 52rem;
    height: auto;
    overflow-x: hidden;
  }
  .content {
    overflow: hidden;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
